<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="kip.Properties.Settings.Параметр" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=kip;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="kipEntities" connectionString="metadata=res://*/kip.csdl|res://*/kip.ssdl|res://*/kip.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=kip;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>